body {
	font-family: Helvetica, sans-serif;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 3px dotted red;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: space-around;
}
li {
	border: 1px solid #999;
	margin: 0.5em;
	padding: 0.5em;
}
.flex2 {
	border: 3px solid blue;
	order: 2;
	flex: 0 1 25%;
}







